[Desktop Entry]
Version=0.7.4
Name=RadioTray [reborn]
Comment=Online radio streaming player for linux
Exec=radiotray %u
Icon=radiotray
Terminal=false
Type=Application
Categories=Network;
StartupNotify=false
MimeType=x-scheme-handler/radio;
Keywords=radio;streaming;audio;player;internet;
